<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger level to ERROR to filter out INFO and DEBUG logs -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Add specific loggers for your packages -->
    <logger name="com.enit.satellite_platform" level="DEBUG" />
</configuration>